@font-face{src:url("../../../template/Extras/Font/Roboto-LightItalic.ttf");font-family: "robotoitalic"}
@font-face{src:url("../../../template/Extras/Font/Roboto-Light.ttf");font-family: "roboto"}
@font-face{src:url("../../../template/Extras/Font/Roboto-Regular.ttf");font-family: "robotobold"}
@font-face{src:url("../../../template/Extras/Font/fontastique.ttf");font-family: "fonta"}
@font-face{src:url("../../../template/Extras/Font/Roboto-Thin.ttf");font-family: "thinitalic"}
@font-face{src:url("../../../template/Extras/Font/Roboto-Medium.ttf");font-family: "roboto2"}
body
{
   background-color: #e9e9e9;
   overflow-x: hidden;
}
div.left_bar
{width: 1116px;height: 65px;position: absolute;left: 0px;top: 0px;background-color: #009688;z-index: 2;}
div.left_bar img
{position: absolute;left: 78px;top: 6px;width: 90px;height: 90px;border-radius: 90px;}
div.left_bar p#admin_name
{color: white;font-size: 24px;font-family: "roboto";text-align: center;top: 1px;position: absolute;font-weight: 400;left: 180px;z-index: 3;}
div.code_admin
{
	position: absolute;
	width: 100%;
	height: 50px;
	background: #50626C;
	color: white;
	font-family: "roboto";
	font-size: 28px;
	text-align: center;
	padding-top: 15px;
}
div.left_bar ul
{
	position: absolute;
	width: 700px;
	position: relative;
	top: -4px;
	height: 41px;
	left: 343px;
}
div.left_bar ul li
{
	height: 17px;
	margin-top: 10px;
	list-style: none;
	position: relative;
	left: 0px;
	text-align: center;
	font-family: "roboto";
	color: white;
	padding-top: 11px;
	font-size: 14px;
	cursor: pointer;
	float: left;
	padding: 9px;
	margin-left: 10px;
	border-radius: 2px;
}

div.left_bar ul li:first-child
{}
div.top_bar
{
	width: calc(100% - 250px);
	height: 65px;
	background-color: #009688;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
}
div.container
{
  width: calc(100% - 2px);
  height: 542px;
  position: relative;
  left: 0px;
  top: 100px;
}
div.container1 , div.container2,div.container3,div.container4{width: 98%;height:100%;border-radius:3px;position: absolute;left: 0px;top: 0px;opacity: 0;z-index: 0;transition : all 0.6s;}
div.container1
{
	z-index: 1;
	opacity: 1;
	padding: 10px;
}

div.container1 table ,div.container2 table 
{
	border: 1px solid #CECCCC;
	border-collapse: collapse;
	width: 1313px;
	border-radius: 2px;
	}
div.container1 table td,div.container2 table td
{
	border: 1px solid #CECCCC;
	text-align: center;
	height: 35px;
	color: #555;
	font-family: "roboto2";
	font-size: 13px;
	position: relative;
	padding: 2px;
	background: white;
}

tr.head td
{
	background-color: #50626C!important;
	color: white!important;
	font-family: "roboto"!important;
	font-size: 13px;
}

span#md
{
    width: 40px;
    height: 27px;
    position: absolute;
    background-color: #009688;
    border-radius: 2px;
    left: calc(50% - 20px);
    top: 3px;
    cursor: pointer;
}
span#rm
{
    width: 50px;
    height: 27px;
    position: absolute;
    background-color: #F44336;
    border-radius: 2px;
    left: calc(50% - 25px);
    top: 3px;
    cursor: pointer;
}
span#mdp
{
    width: 40px;
    height: 27px;
    position: absolute;
    background-color: #009688;
    border-radius: 2px;
    left: calc(50% - 20px);
    top: 3px;
    cursor: pointer;
}
span#rmp
{
    width: 56px;
    height: 27px;
    position: absolute;
    background-color: #F44336;
    border-radius: 2px;
    left: calc(50% - 28px);
    top: 3px;
    cursor: pointer;
}
td input
{
	width: 100%;
	height: 100%;
	border:none;
	text-align: center;
	color: #555;
	font-weight: bold;
}
button#flush
{
	position: absolute;
	bottom: 13px;
	right: 20px;
	width: 200px;
	height: 30px;
	background: #50626C;
	color: white;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
button#flushpro
{
	position: absolute;
	bottom: 13px;
	right: 20px;
	width: 200px;
	height: 30px;
	background: #50626C;
	color: white;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
div.formu,div.formus
{
	width: 100%;
	height: 800px;
	position: relative;
}
div.formu div,div.formus div
{
	display: block;
	width: 50%;
	height: 30px;
	margin-top: 18px;
	position: relative;
	float: left;
}
div.formu div p,div.formus div p
{
	position: absolute;
	color: #555;
	font-family: "roboto2";
	left: 112px;
	top: -16px;
}
div.formu div input,div.formus div input
{
	position: absolute;
	color: #555;
	font-family: "roboto2";
	left: 432px;
	border: none;
	height: 28px;
	width: 210px;
}
div.formu div span,div.formus div span
{
	position: absolute;
	color: #009688;
	font-family: "roboto2";
	font-size: 29px;
	left: 529px;
	top: -15px;
}
div.formu div button,div.formus div button
{
	width: 187px;
	height: 30px;
	background: #4CAF50;
	border: none;
	color: white;
	font-family: "roboto2";
	cursor: pointer;
	position: absolute;
	left: 656px;
}
div.formu div:first-child,div.formus div:first-child
{
	width: 100%!important;
}
div.top_bar a
{
	position: absolute;
	right: 63px;
	color: white;
	font-family: 'roboto';
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	top: 20px;
}